
#breadcrumb {
  font-size: 15px;
/*  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  background: linear-gradient(top, #eeeeee 0%,#cccccc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );*/
  /*height: 30px;*/
  line-height: 30px;
  color: #9b9b9b;
  /*border: solid 1px #cacaca;*/
  /*width: 850px;*/
  /*overflow: hidden;*/
  margin: 0px;
  padding: 0px;
}

#breadcrumb li {
  list-style-type: none;
  float: left;
  padding-left: 10px;
}

#breadcrumb a {
  display: block;
  background-image: url('http://cssdeck.com/uploads/media/items/5/5VfAk4P.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
  text-decoration: none;
  color: #454545;
}

.home {
  border: none;
  margin: 8px 0px;
}

#breadcrumb a:hover { color: #35acc5 }